body {
  margin: 0;
  padding-top: 80px;
}

footer.container {
  padding: 20px 15px 30px;
}

.navbar {
  background: white;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.6px;
  opacity: 0.95;
}

.navbar-default .navbar-nav .active a,
.navbar-default .navbar-nav .active a:focus,
.navbar-default .navbar-nav .active a:hover {
  background: none;
  box-shadow: none;
  color: black;
  font-weight: 400;
}

.navbar-fixed-top .nav {
  padding: 15px 0;
}

#clinics {
  min-height: 500px;
  opacity: 0;
  text-align: center;
}

.clinic {
  border: 1px solid #cccccc;
  border-radius: 3px;
  color: #333333;
  margin: 50px 0 0;
  min-height: 150px;
  padding: 30px;
  position: relative;
}

.clinic .fa-trash-o, .clinic .fa-plus {
  cursor: pointer;
  display: none;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.clinic:hover .fa-trash-o, .clinic:hover .fa-plus {
  display: block;
}

.clinic .fa-trash-o {
  color: #f05c79;
}

.clinic .fa-plus {
  color: #80b3ff;
}

#new-clinic {
  padding: 40px 30px 0;
}

#new-clinic input {
  margin-bottom: 5px;
  padding: 5px;
  width: 200px;
}
